<%- include("header") -%>
<h2>This page is about this project</h2>
<p>This page is supposed to describe a short story about developer of this project or his some funny life situations</p>
<%- include("footer") -%>
